<aside class= "d-flex justify-content-center">
  <div class="container">
    <div class="d-flex justify-content-center mt-1">
    PORTFOLIO
    </div>

    <ul class="list-group mt-5">
      <li class="list-group-item my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi architecto autem</li>
      <li class="list-group-item my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi architecto autem</li>
      <li class="list-group-item my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi architecto autem</li>
    </ul>
  </div>

</aside>
