<div class="container">
  <div class="d-flex justify-content-center">
    <p class="mt-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate debitis explicabo fuga fugiat
      harum
      id illo ipsum natus officia officiis sapiente ut velit veniam, vitae voluptatibus voluptatum. Nesciunt, vero.Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate debitis explicabo fuga fugiat harum
      id illo ipsum natus officia officiis sapiente ut velit veniam, vitae voluptatibus voluptatum. Nesciunt, vero.Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate debitis explicabo fuga fugiat harum
      id illo ipsum natus officia officiis sapiente ut velit veniam, vitae voluptatibus voluptatum. Nesciunt, vero.Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate debitis explicabo fuga fugiat harum
      id illo ipsum natus officia officiis sapiente ut velit veniam, vitae voluptatibus voluptatum. Nesciunt, vero.
    </p>

  </div>


</div>
